.form {
  float: left;
  min-height: 100px;
  background-color: #fff;
  margin-top: 25px;
  width: 270px;

  .inner {
    .line{
      border: 1px solid #BDBDBD;
      margin-top: 16px;
    }

    label{
      margin-left: 10px;
    }

    span {
      color: #333333;
      font-weight: 500;
    }
  }

}