*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body{
    background-color: #D9D9D9;
}

.container{
    margin: 0 auto;
    width:1140px;
    padding-left: 15px;
    padding-right: 15px;
}